$green : green;
$grey : grey;

body {
    background-color: lightskyblue;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-top: 0px;
}

#me-wrapper {
    margin-top: 60px;
} 
#my-image {
    overflow: hidden;
    img {
        width: 100% !important;
        height: auto;
    }
}

.input-field label {
    color: white;
}
.fa-github:hover {
    background-color: darken($grey, 20%);
}

.fa-free-code-camp:hover {
    background-color: darken($green, 5%);
}